.landing-page {
    a { color: inherit; } 
    position: relative;
    background-color: #FFF;
    
    .hero {
        .hero-1 {
            position: relative;
            width: 50%;
            float: left;
            margin-top: 80px;

            .vecteur {
                position: absolute;
                top:0;
                right: 0;
                transform: translate(0%,-90%);
            }

            h1 {
                margin-bottom: 10px;
            }

            .button {
                margin-top: 50px;
            }
        }
    
        .hero-2 {
            float: right;
            width:300px;
            margin-top: 80px;
    
            .img {
                max-width: 100%;
            }
        }
    
        @media screen and (max-width: 725px) {
            .hero-1 {
                width: 100%;
            }
            .hero-2 {
                display: none!important;
            }
        }
    }
}

.main {
    a { color: inherit; } 
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #efefef;
    
    .main-content {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 60px;
    }

    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    
    .menu-tags {
        float:left;
        width:20%;

        position: -webkit-sticky;
		position: sticky;
		top: 0;
        z-index: 2;
        background-color: #efefef;

        .breadcrumb {
            margin-bottom: 20px;
        }

        .active-btn {
            font-weight: 600;
            font-size: 22px;
        }

        li:not(.active-btn):hover {
            text-decoration: underline;
        }
        
        @media screen and (max-width: 725px) {
            .menu-tags {
                padding-top: 20px;
                width:100%;
                overflow: scroll;
            }

            .menu-tags::-webkit-scrollbar {
                display: none!important;
              }

            ul {
                white-space: nowrap;
                overflow: scroll;
            }

            ul li {
                display: inline;
            }
        }
       
    }

    .box-items {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        float:right;
        width:80%;
    }

    @media screen and (max-width: 725px){
        .menu-tags {
            width: 100%;
            display: block;

        }
        .box-items {
            width: 100%;
        }
    }

    .box-item {
        cursor:pointer;
        overflow: hidden;
        background-color: #FFF;
        width: 250px;
        animation: fadeIn 0.4s;
        margin:10px;

        .top-item {
            position: relative;

            .badge img {
                position: absolute;
                top:0;
                width: 60px;
                object-fit: cover;

                transform: translate(10%, 10%);
            }
            .box-img img{
                object-fit: cover;
                width: 100%;
                height:200px;
            }
        }

        .box-content {
            position: relative;
            padding: 20px;
            padding-top: 30px;

            .box-price {
                background-color: #fff;
                padding-left: 18px;
                padding-right: 18px;
                padding-top:10px;
                padding-bottom: 10px;
                text-align: center;
        
                position:absolute;
                top:0;
                right:0;
                transform: translate(-20%,-70%);
            }

            * {
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 210px;
            }

            ul li {
                list-style-type: circle;
            }

            .box-text {
                > * {
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 16px;
                }
                
                p, li {
                    font-size: 14px;
                }
            }
        }
    }

    .box-item:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,.2);
        .box-price, .badge {
            box-shadow: 0 5px 15px rgba(0,0,0,.2);
        }
    }
      
}

.howitworks {
    padding-top: 0px;
    text-align: center;

    h2 {
        padding-bottom: 30px;
    }

    .items-howitworks {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        overflow: scroll;
    }

    .item-howitworks img{
        width: 200px;
    }

    @media screen and (max-width:725px) {
        .items-howitworks {
            justify-content: flex-start!important;
        }
    }
    
}

.avis {
    padding-top: 50px;
    text-align: center;

    max-width: 1080px;
    margin: 0 auto;
    padding: 0 60px;
    
    @media screen and (max-width:725px) {
        padding: 10 10px;
    }

    h2 {
        padding-bottom: 30px;
    }

    .avis-1 {
        padding-top: 20px;
        padding-bottom: 20px;
        border:solid 2px $grey;
    }
}

.help {
    padding-top: 50px;
    text-align: center;

    h2 {
        padding-bottom: 30px;
    }
}

.clearfix {
    clear: both;
}