.section-box-1 {
}

.section-box-2 {
    background-color: #efefef;
    padding-top: 3vh;
    padding-bottom: 3vh;
    
    img {
        width: 100%;
    }
    .box-img img {
        height: 150px;
        object-fit: cover;
    }
    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    .box-items {

        .box-item {
            animation: fadeIn 0.4s;
            background-color: #fff;
            box-shadow: 0 5px 15px rgba(0,0,0,.08);
            overflow: hidden;
            margin: 10px;
    
            .top-item {
                position: relative;
    
                .box-price {
                    background-color: #fff;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top:10px;
                    padding-bottom: 10px;
                    border-radius:  30px;
                    text-align: center;
            
                    position:absolute;
                    right:0;
                    transform: translate(-25%,-50%);
                }
            }
    
            .box-content {
                padding-top : 40px !important;
                padding: 20px;
            }
        }
        .box-item:hover {
            
        }
    }

}